.ParameterButton {
    display: inline-block;
    background-color: rgb(245, 245, 245);
    padding: 15px;
    border-bottom: 1px solid rgb(228, 228, 228);

    box-shadow: inset 0 0 0 0 #009b53;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
    cursor: pointer;
    font-family: OpenSans-Bold;
    text-align: left;
}

.ParameterButton:hover{
    box-shadow: inset 300px 0 0 0 #009b53;
    color: aliceblue
}

@font-face {
    font-family: "OpenSans-Bold";
    src:url("../resources/fonts/OpenSans-Bold.ttf");
}