.PartTab {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    height: auto;
    max-height: 32px;
    font-family: "Roboto-Regular";
    font-size: 16px;
    padding: 7px 5px 7px 5px;
    text-align: center;
    background-color: #D9D9D9;
    user-select: none;
    white-space: nowrap ;
}

@font-face {
    font-family: "Roboto-Regular";
    src:url("../resources/fonts/Roboto-Regular.ttf");
}